body {
    font-family: Arial, sans-serif;
    background-image: url(WhatsApp\ Image\ 2024-07-11\ at\ 10.30.27\ PM.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 300px;
    margin: 40px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ccc;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    padding-left: 5px;
    color: #ccc;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
    color: #ccc;
  }
  
  a {
    text-decoration: none;
    color: #4CAF50;
    cursor: pointer;
  }
  
  a:hover {
    color: #3e8e41;
    cursor: pointer;
  }

  h2 {
    position: absolute;
    top: 50px;
    left: 43%;
    font-family: fantasy;
    font-size: xx-large;
    color: crimson;
    padding: 20px;
    justify-content: center;
  }